<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ru" lang="ru">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=windows-1251" />
<title>Фотогалерея</title>
<meta name="description" content="Описание сайта. Будет видно в анонсе поисковых систем. Не более 200 символов" />
<meta name="keywords" content="ключевые, слова, через, запятую" />
<link rel="stylesheet" href="styles/layout.css" type="text/css" />
</head>
<body id="top">
<div class="wrapper col1">
  <div id="header" class="clear">
    <div class="fl_left">
      <h1><a href="index.html">Фотогалерея</a></h1>
      <p>Название сайта - фотогалереи</p>
    </div>
    <div class="fl_right">
       <form action="#" method="post" id="search">
        <fieldset>
          <legend>Поиск по сайту</legend>
          <input type="text" value="Найти&hellip;" onfocus="this.value=(this.value=='Найти&hellip;')? '' : this.value ;" />
          <input type="image" id="go" src="images/search.gif" alt="Поиск" />
        </fieldset>
      </form> 
      <ul id="topnav" class="clear">
          <li><a href="#">Нужные ссылки</a>
          <ul>
            <li><a href="#">Ссылка 1</a></li>
            <li><a href="#">Ссылка 2</a></li>
            <li><a href="#">Ссылка 3</a></li>
          </ul>
        </li>
        <li><a href="gallery.html">Галерея</a></li>
        <li><a href="portfolio.html">Портфолио</a></li>
        <li class="active"><a href="full-width.html">Описание</a></li>
        <li class="last"><a href="index.html">Главная</a></li>
      </ul>
    </div>
  </div>
</div>
<!-- Заголовок -->
<div class="wrapper col2">
  <div id="shout">
    <h2>Описание фотогалереи &nbsp; </h2>
  </div>
</div>
<!-- Средний блок -->
<div class="wrapper col3">
  <div id="container" class="clear">
    <!-- Текст середины -->
    <h1>Заголовок 1 Описание темы</h1>
    <h2>Заголовок 2 Скачать шаблон бесплатно с сайта<a href="http://sitey.ru/" target="_blank" title="Sitey.ru"> Sitey.ru</a></h2>
    <h3>Заголовок 3 Описание темы</h3>
    <p>Шаблон <b>PhotoSketch</b> можете скачать бесплатно на сайте <a href="http://sitey.ru/" target="_blank" title="Ссылка">SiteY.ru</a>.<br /> 
    Предназначен для создания фотогалереи, каталога товаров, полета мысли...
    <p>Шаблон состоит из четырех HTML страниц. При желании путем копирования можете создать дополнительные. 
    При создании дополнительных страниц в портфолио и фотогалереи не забудьте включить их в навигацию по страницам: 1, 2, 3, 4, 5 ... 15</p>
    <ul>
      <li>В папке <font color="#FF0000"> <b>images</b></font> расположены изображения отвечающие за дизайн сайта.</li>
      <li>В папке <font color="#FF0000"> <b>images/demo</b></font> лежат картинки, которые подлежат замене и пополнению Вашими изображениями.</li>
      <li>В папке <font color="#FF0000"> <b>images/prettyPhoto/dark_rounded</b></font> картинки навигации по сайту и галереи.</li>
      <li>В папке <font color="#FF0000"> <b>scripts</b></font> - js скрипты, отвечающие за увеличение фото, навигацию по галерее.</li>
      <li>В папке <font color="#FF0000"> <b>styles</b></font> - стили CSS по темам. После того, как закончите редактирование шаблона, можете их объединить в один файл, для меньшей нагрузки на сервер и увеличения скорости работы сайта.</li>
      <li>Аналогично в коде главной страницы <font color="#FF0000"> <b>index.html</b></font>: замените картинки 
		<font face="Arial"><i>1.gif 2.gif 3.gif и 192x75.gif</i></font> на свои изображения.</li>
    </ul>
    <p><font color="#FF0000"><b>ВАЖНО!</b></font> </p>
    <ol>
<li>Найдите в папке <font color="#FF0000"><b>images/demo</b></font> изображения <font color="#FF0000">658x432.gif</font>
 и <font color="#FF0000">215x120.gif</font></li>
      <li>Эти картинки используются как большая (просмотр) и маленькая (превью) в фотогалереи и портфолио.</li>
      <li>В файлах <font color="#FF0000">gallery.html</font> и <font color="#FF0000">portfolio.html</font> необходимо поменять их наименование на имя ваших изображений.</li>
      <li>Например: в файле <b>gallery.html</b> картинка 658x432.gif и 215x120.gif встречаются 12 раз. Замените 12 + 12 раз на свои изображения.</li>
      <li>Обращайте внимание на расширения картинок: .jpg .png .gif</li>
    </ol>
    <!-- Конец Текст середины-->
  </div>
</div>
<!-- Нижний блок -->
<div class="wrapper">
  <div id="footer">
    <div class="verticaline clear">
      <div class="box size1">
        <h2>Подписка по RSS</h2>
        <p id="rss"><a href="http://sitey.ru/rss.xml" target="_blank"><img src="images/rss.gif" alt="" /></a></p>
      </div>
      <div class="box size2">
        <address>
        <strong class="title">Адрес</strong><br />
        Улица, Фонарь<br />
        Индекс<br />
        000000
        </address>
        <ul>
          <li><strong class="title">Тел:</strong><br />
            xxxxx xxxxxxxxxx</li>
          <li><strong class="title">Факс:</strong><br />
            xxxxx xxxxxxxxxx</li>
          <li><strong class="title">Email:</strong><br />
            <a href="#">contact@mydomain.ru</a></li>
        </ul>
      </div>
      <div class="box size3">
        <ul>
          <li><span>Facebook:</span> <a href="#">Ссылки для закладок</a></li>
          <li><span>Twitter:</span> <a href="#">Ссылки для закладок</a></li>
          <li><span>В Контакте:</span> <a href="#">Ссылки для закладок</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
<!-- Подвал страницы -->
<div class="wrapper">
  <div id="copyright" class="clear">
    <p class="fl_left">Copyright © 2012 - Ваши права на сайт - <a href="http://sitey.ru/" target="_blank">Имя домена</a></p>
    <p class="fl_right">Ваш сайт <a href="http://sitey.ru/" target="_blank">SiteY.ru</a></p>
  </div>
</div>
                                                                                                                                                                                                                                                                                                                                          <p align="right"><a target="_blank" style="text-decoration: none; color: #666666" href="http://sitey.ru/"><font size="2">&nbsp; Личный сайт</font></a> &nbsp; &nbsp; </p>
</body>
</html>
