<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ru" lang="ru">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=windows-1251" />
<title>PhotoLife</title>
<meta name="description" content="description" />
<meta name="keywords" content="keywords" />
<link rel="stylesheet" href="styles/layout.css" type="text/css" />
<script type="text/javascript" src="scripts/jquery-1.4.1.min.js"></script>
<script type="text/javascript">
$(document).ready(function () {
    $('.photo_category').showFeatureText();
    $(".thumbs a").click(function () {
        var imgpath = $(this).attr("href");
        var imgalt = $(this).attr("alt");
        $("#placeholder").attr({
            src: imgpath,
            alt: imgalt
        });
        return false;
    });
});
$.fn.showFeatureText = function () {
    return this.each(function () {
        var box = $(this);
        var text = $('span', this);
        text.css({
            display: 'block',
            position: 'absolute',
            top: '0',
            left: '0'
        }).hide();
        box.hover(function () {
            text.slideDown("fast");
        }, function () {
            text.slideUp("fast");
        });
    });
}
</script>
</head>
<body id="top">
<div class="wrapper col1">
  <div id="header" class="clear">
    <div class="fl_left">
      <h1><a href="index.html">PhotoLife</a></h1>
      <p>Photo Studio</p>
    </div>
    <div class="fl_right">     
       <form action="#" method="post" id="search">
        <fieldset>
          <legend>legend</legend>
          <input type="text" value="Найти&hellip;" onfocus="this.value=(this.value=='Найти&hellip;')? '' : this.value ;" />
          <input type="image" id="go" src="images/search.gif" alt="Search" />
        </fieldset>
      </form>     
      <ul id="topnav" class="clear">
          <li><a href="#">Photographers</a>
          <ul>
            <li><a href="#">Robert Green</a></li>
            <li><a href="#">Adriana Barkel</a></li>
            <li><a href="#">Calvin Sweeft</a></li>
          </ul>
        </li>
        <li><a href="gallery.html">Gallery</a></li>
        <li><a href="portfolio.html">Portfolio</a></li>
        <li><a href="full-width.html">About us</a></li>
        <li class="active last"><a href="index.html">Main page</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="wrapper col2">
  <div id="homepage" class="clear">
    <p><img id="placeholder" src="images/demo/metals.jpg" alt="" /></p>
    <div class="fl_right">
      <h2>reg</h2>
      <ul class="thumbs">
        <li><a href="images/demo/1.gif"><img src="images/demo/192x75.gif" alt="" /></a></li>
        <li><a href="images/demo/2.gif"><img src="images/demo/192x75.gif" alt="" /></a></li>
        <li><a href="images/demo/3.gif"><img src="images/demo/192x75.gif" alt="" /></a></li>
        <li class="last"><a href="images/demo/4.gif"><img src="images/demo/192x75.gif" alt="" /></a></li>
      </ul>
    </div>
  </div>
</div>
<!-- Конец под меню -->
<div class="wrapper col3">
  <div id="container" class="clear">
    <!-- Средний блок -->
    <div id="hpage_services" class="clear">
      <ul>
        <li class="photo_category"><span>Категория фото 1</span><a href="http://sitey.ru/" target="_blank"><img src="images/demo/290x120.gif" alt="" /></a></li>
        <li class="photo_category"><span>Категория фото 2</span><a href="http://sitey.ru/" target="_blank"><img src="images/demo/290x120.gif" alt="" /></a></li>
        <li class="photo_category last"><span>Категория фото 3</span><a href="http://sitey.ru/" target="_blank"><img src="images/demo/290x120.gif" alt="" /></a></li>
      </ul>
    </div>
    <div id="hpage_info" class="clear">
      <div class="fl_left">
        <h2 class="title">Название ТЕМЫ заголовок H2</h2>
        <p>Ваш произвольный текст при желании со ссылками <a href="http://sitey.ru/" target="_blank">Ссылка</a>
		Замените адрес сайта в ссылке на свои перенаправления<br />
		Атрибут кода _blank открывает страницу по ссылке в новом окне.</p>
        <p>Размер этого текста не болжен превышать 400 символов, включая пробелы. 
		Это нужно для сохранения размера столбца.<br /> 
		Можете разместить более длинный текст, тогда в правой части увеличьте тоже. <a href="http://sitey.ru/" target="_blank"> Ссылка</a>.</p>
      </div>
      <div class="fl_right">
        <h2 class="title">Описание тем H2</h2>
        <ul>
          <li class="clear">
            <div class="imgl"><img src="images/demo/160x120.gif" alt="" /></div>
            <div class="teamember">
              <p class="name">Тема 1</p>
              <p>Разместите свой текст. Этот текст приходится писать для наглядности, чтобы вам 
              было легче определиться с объемом размещаемого анонса.<br />
              </p>
              <p class="readmore"><a href="#">Ссылка куда-нибудь »</a></p>
            </div>
          </li>
          <li class="clear last">
            <div class="imgl"><img src="images/demo/160x120.gif" alt="" /></div>
            <div class="teamember">
              <p class="name">Тема 2</p>
              <p>Размер анонса тем подберите по размеру такой, чтобы не превышал высоту столбика. 
              Не эстетично будет, если этот столбик превысит левый столбец.<br >
              Уделите особое внимание этим текстам под заголовком тега H2. Их любят поисковики.</p>
              <p class="readmore"><a href="#">Ссылка на что-нибудь »</a></p>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <!-- Конец Средний блок -->
  </div>
</div>
<!-- Нижний блок -->
<div class="wrapper">
  <div id="footer">
    <div class="verticaline clear">
      <div class="box size1">
        <h2>Подписка по RSS</h2>
        <p id="rss"><a href="http://sitey.ru/rss.xml" target="_blank"><img src="images/rss.gif" alt="" /></a></p>
      </div>
      <div class="box size2">
        <address>
        <strong class="title">Адрес</strong><br />
        Улица, Фонарь<br />
        Индекс<br />
        000000
        </address>
        <ul>
          <li><strong class="title">Тел:</strong><br />
            xxxxx xxxxxxxxxx</li>
          <li><strong class="title">Факс:</strong><br />
            xxxxx xxxxxxxxxx</li>
          <li><strong class="title">Email:</strong><br />
            <a href="#">contact@mydomain.ru</a></li>
        </ul>
      </div>
      <div class="box size3">
        <ul>
          <li><span>Facebook:</span> <a href="#">Ссылки для закладок</a></li>
          <li><span>Twitter:</span> <a href="#">Ссылки для закладок</a></li>
          <li><span>В Контакте:</span> <a href="#">Ссылки для закладок</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
<!-- Подвал страницы -->
<div class="wrapper">
  <div id="copyright" class="clear">
    <p class="fl_left">Copyright © 2012 - Ваши права на сайт - <a href="http://sitey.ru/" target="_blank">Имя домена</a></p>
    <p class="fl_right">Ваш сайт <a href="http://sitey.ru/" target="_blank">SiteY.ru</a></p>
  </div>
  
</div>
                                                                                                                                                                                                                                                                                                                                          <p align="right"><a target="_blank" style="text-decoration: none; color: #666666" href="http://sitey.ru/"><font size="2">&nbsp; Личный сайт</font></a> &nbsp; &nbsp; </p> 
</body>
</html>
