<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=windows-1251" />
<title>Book | Gregory Olsen</title>
<meta name="description" content="Gregory Olsen is a photographer, podcast host, and creative entrepreneur devoted to inspiring the world to create their moments and create their life.">
<meta name="keywords" content="gregory olsen, photographer, new york city, podcast host, usher, portrait, lifestyle, celebrity">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
<link rel="icon" href="https://358bb28d538e8f7f2888-7458310c472644cf613cb19f403ef708.ssl.cf1.rackcdn.com/NO_Favicon.gif" type="image/x-icon">
<link rel="stylesheet" href="../../styles/layout.css" type="text/css" />
<link rel="stylesheet" href="../../styles/prettyPhoto.css" type="text/css" />
<script type="text/javascript" src="../../scripts/jquery-1.4.1.min.js"></script>
<script type="text/javascript" src="../../scripts/jquery.prettyPhoto.js"></script>
<script type="text/javascript">
</script>
<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
<script type="text/javascript">SQUARESPACE_ROLLUPS = {};</script>
<script>
(function(rollups, name) { if (!rollups[name]) { rollups[name] = {}; } rollups[name].js = ["//static.squarespace.com/universal/scripts-compressed/common-14116448e483633d334a-min.en-US.js"]; })(SQUARESPACE_ROLLUPS, 'squarespace-common');
</script>
<script crossorigin="anonymous" src="//static.squarespace.com/universal/scripts-compressed/common-14116448e483633d334a-min.en-US.js"></script>
<script>
(function(rollups, name) { if (!rollups[name]) { rollups[name] = {}; } rollups[name].js = ["//static.squarespace.com/universal/scripts-compressed/commerce-c6bf87314308894f43d9-min.en-US.js"]; })(SQUARESPACE_ROLLUPS, 'squarespace-commerce');
</script>

<script>Static.COOKIE_BANNER_CAPABLE = true;</script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
</head>
<body id="top">
<div class="wrapper col1">
  <div id="header" class="clear">
    <div class="fl_left">
      <h1><a href="/">Gregory Olsen</a></h1>
      <p>German Photographer</p>
    </div>
    <div class="fl_right">     
       <form action="#" method="post" id="search">
        <fieldset>
          <legend>legend</legend>
          <input type="text" value="Search&hellip;" onfocus="this.value=(this.value=='Search&hellip;')? '' : this.value ;" />
          <input type="image" id="go" src="../../images/search.gif" alt="Search" />
        </fieldset>
      </form>     
      <ul id="topnav" class="clear">
    <li><a href="https://www.instagram.com/ph_olsen">InstaOlsen</a></li>
    <li><a href="#">Connect</a>
          <ul>
            <li><a href="/connect/biopress">Bio & Press</a></li>
            <li><a href="/connect/clients">Clients</a></li>
      <li><a href="/connect/philanthropy">Philanthropy</a></li>
      <li><a href="/connect/contact">Contact</a></li>
          </ul>
          </li>
    <li><a href="/sessions">Sessions</a></li>
          <li><a href="#">Work</a>
          <ul>
            <li><a href="/work/portrait">Portrait</a></li>
            <li><a href="/work/lifestyle">Lifestyle</a></li>
            <li><a href="/work/travel">Travel</a></li>
      <li><a href="#">Motion</a></li>
          </ul>
          </li>
        <li class="active last"><a href="/">Home</a></li>
      </ul>
    </div>
  </div>
</div>

<div class="wrapper col2">
  <div id="shout">
    <h2>Book Session</h2>
  </div>
</div>

<div class="wrapper col3">
  <div id="container" class="clear">
    <div id="hpage_info" class="clear">
      <div class="fl_left">
	<div class="imgl"><img src="../../images/Sessions/b4m.jpg" alt="" /></div>
      </div>
  <div class="fl_right">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              <h2 class="title" >Mini Outdoor Session</h2>
              <form id="contact-form" method="post" action="/sessions/book/2/info/2" role="form">
                <div class="messages"></div>
                <div class="controls">
                <p>
                  <span id="ProductPrice" class="faded medium-down--text-center" itemprop="price">$350.00 USD</span>
                </p>
                <div class="row">
                <div class="col-md-6">
                <div class="form-group">
                <p>Additional Subjects: 
                  <select name="add_subj">
                    <option>none</option>
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                    <option>6</option>
                    <option>7</option>
                    <option>8</option>
                    <option>9</option>
                    <option>10</option>
                   </select>
                 </p>
                 <input type="submit" class="btn btn-success btn-send" value="Book" id="button">
              </form>
            </div>
          </div>
      </div>
<p align="justify">Fee includes a 1-hour outdoor session, online watermarked gallery and design appointment.</p>
<p align="justify">We preselect various locations around the city and will confirm the meeting spot once you are scheduled.  </p>
<p><b>Additional subjects: $55</b></p>
<p align="justify">Subjects include siblings, parents, pets, friends or colleagues. Parents count as one additional subject.</p>
<p align="justify">All prints and products are <b>sold separately</b>. Archival prints include the corresponding hi-res digital file. Digital files are not included in session fee, with books nor sold as a separate package.</p>
    </div>
  </div>
</div>
 <div class="pagination">
  <input type="reset" class="btn btn-reset btn-send" value="< Back" onClick='location.href="/sessions"' id="button">
 </div> 
</div>
</div>
</div>
  
 <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
                                                                                                                                                                                                                                                                                                                                    
</body>
</html>
