<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=windows-1251" />
<title>Clients | Gregory Olsen</title>
<meta name="description" content="Gregory Olsen is a photographer, podcast host, and creative entrepreneur devoted to inspiring the world to create their moments and create their life.">
<meta name="keywords" content="gregory olsen, photographer, new york city, podcast host, usher, portrait, lifestyle, celebrity">
<link rel="icon" href="https://358bb28d538e8f7f2888-7458310c472644cf613cb19f403ef708.ssl.cf1.rackcdn.com/NO_Favicon.gif" type="image/x-icon">
<link rel="stylesheet" href="styles/layout.css" type="text/css" />
<link rel="stylesheet" href="styles/prettyPhoto.css" type="text/css" />
<script type="text/javascript" src="scripts/jquery-1.4.1.min.js"></script>
<script type="text/javascript" src="scripts/jquery.prettyPhoto.js"></script>
<script type="text/javascript">
$(document).ready(function () { $("a[rel^='prettyPhoto']").prettyPhoto({theme:'dark_rounded'}); });
</script>
</head>
<body id="top">

<div class="wrapper col1">
  <div id="header" class="clear">
    <div class="fl_left">
      <h1><a href="index_my.html">Gregory Olsen</a></h1>
      <p>German Photographer</p>
    </div>
    <div class="fl_right">     
       <form action="#" method="post" id="search">
        <fieldset>
          <legend>legend</legend>
          <input type="text" value="Search&hellip;" onfocus="this.value=(this.value=='Search&hellip;')? '' : this.value ;" />
          <input type="image" id="go" src="images/search.gif" alt="Search" />
        </fieldset>
      </form>     
      <ul id="topnav" class="clear">
	  <li><a href="https://www.instagram.com/ph_olsen">InstaOlsen</a></li>
	  <li><a href="#">Connect</a>
          <ul>
            <li><a href="biopress.html">Bio & Press</a></li>
            <li><a href="clients.html">Clients</a></li>
	    <li><a href="philanthropy.html">Philanthropy</a></li>
	    <li><a href="contact.html">Contact</a></li>
          </ul>
	  </li>
	  <li><a href="sessions.html">Sessions</a></li>
          <li><a href="#">Work</a>
          <ul>
            <li><a href="portrait.html">Portrait</a></li>
            <li><a href="lifestyle.html">Lifestyle</a></li>
            <li><a href="travel.html">Travel</a></li>
	    <li><a href="#">Motion</a></li>
          </ul>
          </li>
        <li class="active last"><a href="index_my.html">Home</a></li>
      </ul>
    </div>
  </div>
</div>

<div class="wrapper col2">
  <div id="shout">
    <h2>Clients Gallery</h2>
  </div>
</div>

<div class="wrapper col3">
  <div id="container" class="clear">
    <div id="gallery" class="clear">
 <ul>
  <li>
   <a href="http://www.dametals.com" target="_blank">
    <img src="https://format-com-cld-res.cloudinary.com/image/private/s--0QCffYJ---/c_fill,g_rek_faces,h_135,w_200/a_auto,fl_keep_iptc.progressive,q_95/v1/4cc5de1759051484ed7ddb7163e9b85b/client_devienna_anggraini.jpg" alt="" lazyloaded="true">
    <div class="asset">Devienna Anggraini</div>       
   </a>
  </li>

  <li>
   <a href="">
    <img src="https://format-com-cld-res.cloudinary.com/image/private/s--WwAf6_wA--/c_fill,g_rek_faces,h_135,w_200/a_auto,fl_keep_iptc.progressive,q_95/v1/6333c52792445d8abb6afcc4aa1a3d41/Liz_Auffenberg_client.jpg" alt="" lazyloaded="true">
    <div class="asset">Elizabeth Auffenberg</div>
   </a>
  </li>

  <li>
   <a href="#">
    <img src="https://format-com-cld-res.cloudinary.com/image/private/s--aAusF88f--/c_fill,g_rek_faces,h_135,w_200/a_auto,fl_keep_iptc.progressive,q_95/v1/25d260e3e3f9ec8fca3d4f1aa698cf69/client_ashley_caprio.jpg" alt="" lazyloaded="true">
    <div class="asset">Ashley &amp; Rich Baccari</div>
   </a>
  </li>

  <li class="last">
   <a href="https://www.facebook.com/BFYTBODY/" target="_blank">
    <img src="https://format-com-cld-res.cloudinary.com/image/private/s--QYOm29BJ--/c_fill,g_rek_faces,h_135,w_200/a_auto,fl_keep_iptc.progressive,q_95/v1/82f9263326bd0a0c8ab20a5615d05b78/Jasmine_promo_video_still_deadlift.jpg" alt="" lazyloaded="true">
    <div class="asset">BFYTBODY</div>
   </a>
  </li>

  <li>
   <a href="http://lblanc.com" target="_blank">
    <img src="https://format-com-cld-res.cloudinary.com/image/private/s--NXI-kl8p--/c_fill,g_rek_faces,h_135,w_200/a_auto,fl_keep_iptc.progressive,q_95/v1/14cfbbe1d35e1d65ba8982d4f6c9ef49/Laura_Blanc_client.jpg" alt="" lazyloaded="true">
    <div class="asset">Laura Blanc</div>
   </a>
  </li>

  <li>
   <a href="http://www.larutanstudio.com/" target="_blank">
    <img src="https://format-com-cld-res.cloudinary.com/image/private/s--pRjDqqyv--/c_fill,g_rek_faces,h_135,w_200/a_auto,fl_keep_iptc.progressive,q_95/v1/5f14199152dac3a07b1e8b9478ef3b7d/Gwen_Brennan_client.jpg" alt="" lazyloaded="true">
    <div class="asset">Gwen Oulman Brennan</div>
   </a>
  </li>

  <li>
   <a href="https://risd.digication.com/madeline_cann/Welcome/published" target="_blank">
    <img src="https://format-com-cld-res.cloudinary.com/image/private/s--Uy86ZB-y--/c_fill,g_rek_faces,h_135,w_200/a_auto,fl_keep_iptc.progressive,q_95/v1/a759a0175158bd092ebe906a08cbd1f6/_MG_3685.jpg" alt="" lazyloaded="true">
    <div class="asset">Madeline Cann</div>
   </a>
  </li>

  <li  class="last">
   <a href="#">
    <img src="https://format-com-cld-res.cloudinary.com/image/private/s--_2JXMzyF--/c_fill,g_rek_faces,h_135,w_200/a_auto,fl_keep_iptc.progressive,q_95/v1/16b7d6416733168c42a060db0ea5a9da/SAllen_Pedro_Castillo_6418.jpg" alt="" lazyloaded="true">
    <div class="asset">Pedro Castillo</div>
   </a>
  </li>

  <li>
   <a href="http://www.katecleaves.com" target="_blank">
    <img src="https://format-com-cld-res.cloudinary.com/image/private/s--TVFMRK9o--/c_fill,g_rek_faces,h_135,w_200/a_auto,fl_keep_iptc.progressive,q_95/v1/22008addb510b5ae9612d7d593716684/client_kate_cleaves.jpg" alt="" lazyloaded="true">
    <div class="asset">Kate Cleaves</div>
   </a>
  </li>

  <li>
  <a href="http://www.katecleaves.com" target="_blank">
    <img src="https://format-com-cld-res.cloudinary.com/image/private/s--NRk63cEV--/c_fill,g_rek_faces,h_135,w_200/a_auto,fl_keep_iptc.progressive,q_95/v1/a4a4c46413b9f5a25c3002ad98af0a39/Caleb_2281.jpg" alt="" lazyloaded="true">
    <div class="asset">Caleb Colpitts</div>
   </a>
  </li>

  <li>
   <a href="http://jennaca.com" target="_blank">
    <img src="https://format-com-cld-res.cloudinary.com/image/private/s--Fh_wkCoP--/c_fill,g_rek_faces,h_135,w_200/a_auto,fl_keep_iptc.progressive,q_95/v1/07a107b1e37f58c533b25bb0f0c56062/Jennaca_Davies_client.jpg" alt="" lazyloaded="true">
    <div class="asset">Jennaca Davies</div>
   </a>
  </li>

  <li class="last">
   <a href="#">
    <img src="https://format-com-cld-res.cloudinary.com/image/private/s--DCUSVP-3--/c_fill,g_rek_faces,h_135,w_200/a_auto,fl_keep_iptc.progressive,q_95/v1/e4f2fb11791a06469b5028c05eb88c8c/SAllen_Tara_Axler_2471.jpg" alt="" lazyloaded="true">
    <div class="asset">Max &amp; Tara Axler</div>
   </a>
  </li> 
 
  <li>
   <a href="#">
    <img src="https://format-com-cld-res.cloudinary.com/image/private/s--4S-KA76g--/c_fill,g_rek_faces,h_135,w_200/a_auto,fl_keep_iptc.progressive,q_95/v1/8eddaa9242e6926206a739df3a0c2ee4/Jennifer_Harris_535.jpg" alt="" lazyloaded="true">
    <div class="asset">Yasmine Ghaemi</div>
   </a>
  </li>

  <li>
   <a href="http://emilyhabansky.blogspot.com/" target="_blank">
    <img src="https://format-com-cld-res.cloudinary.com/image/private/s--HgwHM2cd--/c_fill,g_rek_faces,h_135,w_200/a_auto,fl_keep_iptc.progressive,q_95/v1/84ceb83a9a134fef129de8ffcaf74dbb/Emily_Habansky_0738.jpg" alt="" lazyloaded="true">
    <div class="asset">Emily Habansky</div>
   </a>
  </li>

  <li>
   <a href="">
    <img src="https://format-com-cld-res.cloudinary.com/image/private/s--qV8ps5pi--/c_fill,g_rek_faces,h_135,w_200/a_auto,fl_keep_iptc.progressive,q_95/v1/b355dcada0ab2e2028f6d5ae380bbbbb/SAllen_Youngeun_Ha_7024.jpg" alt="" lazyloaded="true">
    <div class="asset">Yaungeun Han</div>
   </a>
  </li>

  <li class="last">
   <a href="#">
    <img src="https://format-com-cld-res.cloudinary.com/image/private/s--MJPSXcmS--/c_fill,g_rek_faces,h_135,w_200/a_auto,fl_keep_iptc.progressive,q_95/v1/a333df1f15b0e48c3acaec53e4a7461f/IMG_455.jpg" alt="" lazyloaded="true">    
    <div class="asset">Jennifer Harris</div>
   </a>
  </li>

  <li>
   <a href="http://kongcrossfit.com/">
    <img src="https://format-com-cld-res.cloudinary.com/image/private/s--cFoXk_Pm--/c_fill,g_rek_faces,h_135,w_200/a_auto,fl_keep_iptc.progressive,q_95/v1/51c321f152cb6b5d3684ed60d4ad62f5/5DS_0303.jpg" alt="" lazyloaded="true">
    <div class="asset">Kong Crossfit<br></div>
   </a>
  </li>

  <li>
   <a href="">
    <img src="https://format-com-cld-res.cloudinary.com/image/private/s--AYVK-edW--/c_fill,g_rek_faces,h_135,w_200/a_auto,fl_keep_iptc.progressive,q_95/v1/ed9fbdb666fd05f9898922e3556d6476/Nikki_Thiess_Kusiak_client.jpg" alt="" lazyloaded="true">
    <div class="asset">Nikki Thiess-Kusiak</div>
   </a>

  <li>
   <a href="http://www.emcorgroup.com" target="_blank">
    <img src="https://format-com-cld-res.cloudinary.com/image/private/s--cZ-KOegM--/c_fill,g_rek_faces,h_135,w_200/a_auto,fl_keep_iptc.progressive,q_95/v1/7a7246c566ca951b687952bf2161b231/SAllen_Client_Emcor_UK_285.jpg" alt="" lazyloaded="true">
    <div class="asset">Emcor</div>
   </a>
  </li>

  <li class="last">
   <a href="http://www.leblon.com/" target="_blank">
    <img src="https://format-com-cld-res.cloudinary.com/image/private/s--OFp-oNdE--/c_fill,g_rek_faces,h_135,w_200/a_auto,fl_keep_iptc.progressive,q_95/v1/2e8dab31a1566b666d1ec25fd31f60ca/Leblon_E0A4105_02_full.jpg" alt="" lazyloaded="true">
    <div class="asset">Leblon</div>
   </a>
   </li>

   <li>
    <a href="#">
     <img src="https://format-com-cld-res.cloudinary.com/image/private/s--GTpJuaF4--/c_fill,g_rek_faces,h_135,w_200/a_auto,fl_keep_iptc.progressive,q_95/v1/f12ab7c535e591c1195ca8c27c7ebc69/Patricia_Leunis_0058.jpg" alt="" lazyloaded="true">
     <div class="asset">Patricia Leunis</div>
    </a>
   </li>

   <li>
    <a href="http://www.lilostudio.com" target="_blank">
     <img src="https://format-com-cld-res.cloudinary.com/image/private/s--vG_b2VHg--/c_fill,g_rek_faces,h_135,w_200/a_auto,fl_keep_iptc.progressive,q_95/v1/0d6fb67284bf611607aca52d40cca3bc/client_lilo_studio.jpg" alt="" lazyloaded="true">
     <div class="asset">Lilo Studio</div>
    </a>
   </li>

   <li>
    <a href="https://www.facebook.com/LaurenLuciaDesigns" target="_blank">
     <img src="https://format-com-cld-res.cloudinary.com/image/private/s---hkhXkQC--/c_fill,g_rek_faces,h_135,w_200/a_auto,fl_keep_iptc.progressive,q_95/v1/000c7219834e0e99dc58485827c2c576/5DS_4211.jpg" alt="" lazyloaded="true">
     <div class="asset">Lauren Lucia</div>
    </a>
   </li>

   <li class="last">
    <a href="">
     <img src="https://format-com-cld-res.cloudinary.com/image/private/s--3np0VSfT--/c_fill,g_rek_faces,h_135,w_200/a_auto,fl_keep_iptc.progressive,q_95/v1/0c3b5f466f5c81206da424f80f6d1e03/Lucienne_Von_Doz_client.jpg" alt="" lazyloaded="true">
     <div class="asset">Lucienne Von Doz</div>
    </a>
   </li>

  <li>
   <a href="http://www.saatchiart.com/ema024" target="_blank">
    <img src="https://format-com-cld-res.cloudinary.com/image/private/s--rQq9vAWo--/c_fill,g_rek_faces,h_135,w_200/a_auto,fl_keep_iptc.progressive,q_95/v1/c9d207ca162e47e4724f9e89dd79e85e/client_ema_ishii.jpg" alt="" lazyloaded="true">
    <div class="asset">Ema Ishii</div>
   </a>
  </li>

  <li>
   <a href="#">
    <img src="https://format-com-cld-res.cloudinary.com/image/private/s--LrRrCoVb--/c_fill,g_rek_faces,h_135,w_200/a_auto,fl_keep_iptc.progressive,q_95/v1/bd8c6fa80adcd72f6548349990b39511/Alex_Ching_Client.jpg" alt="" lazyloaded="true">
    <div class="asset">Alex Ching</div>
   </a>
  </li>

  <li>
   <a href="http://www.maclarenbaby.com/" target="_blank">
   <img src="https://format-com-cld-res.cloudinary.com/image/private/s--nqsTG07F--/c_fill,g_rek_faces,h_135,w_200/a_auto,fl_keep_iptc.progressive,q_95/v1/7f3a2fae715f978809a971cb267f0529/client_maclaren_llc.jpg" alt="" lazyloaded="true">
   <div class="asset">Maclaren</div>
   </a>
  </li>

  <li  class="last">
   <a href="http://www.martamattsson.com" target="_blank">
    <img src="https://format-com-cld-res.cloudinary.com/image/private/s--x8l_qjGI--/c_fill,g_rek_faces,h_135,w_200/a_auto,fl_keep_iptc.progressive,q_95/v1/62cfe57f13a4bb1503036569c7fc9097/client_marta_mattsson.jpg" alt="" lazyloaded="true">
    <div class="asset">Marta Mattsson</div>
   </a>
  </li>
 </ul>

</div>
</div>
</div>

<div class="wrapper">
  <div id="footer">
    <div class="verticaline clear">
      <div class="box size1">
        <div class="imgl"><img src="images/Home/foo.jpg" alt="" /></div>
	<p align="center">CONTACT US, THERE'S NO TIME LIKE THE PRESENT</p>
      </div>
      <h2 align="center">If you would like to talk to us about any upcoming projects please get in touch using the details below:</h2><br>
      <div class="box size2">
        <address>
        <strong class="title">Address</strong><br />
        Gregory Olsen Studio<br />
        Unit 124 - 4293 Mounttain Square<br />
        Whistler, British Columbia, Canada<br />
	VoN 1B4
        </address>
        <ul>
          <li><strong class="title">Call us on</strong><br />
            +44 0207 435 2086</li>
          <li><strong class="title">Email:</strong><br />
            <a>info@gregoryolsen.com</a></li>
        </ul>
      </div>
      <div class="box size3">
        <ul>
          <li><span>Facebook:</span> <a href="https://www.facebook.com/ph_olsen" target="_blank">www.facebook.com/ph_olsen</a></li>
          <li><span>Twitter:</span> <a href="https://www.twitter.com/ph_olsen" target="_blank">www.twitter.com/ph_olsen</a></li>
	  <li><span>Instagram:</span> <a href="https://www.instagram.com/ph_olsen" target="_blank">www.instagram.com/ph_olsen</a></li>
          <li><span>Youtube:</span> <a href="https://www.youtube.com/ph_olsen" target="_blank">www.youtube.com/ph_olsen</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>

</body>
</html>
