<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=windows-1251" />
<title>Info | Gregory Olsen</title>
<meta name="description" content="Gregory Olsen is a photographer, podcast host, and creative entrepreneur devoted to inspiring the world to create their moments and create their life.">
<meta name="keywords" content="gregory olsen, photographer, new york city, podcast host, usher, portrait, lifestyle, celebrity">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
<link rel="icon" href="https://358bb28d538e8f7f2888-7458310c472644cf613cb19f403ef708.ssl.cf1.rackcdn.com/NO_Favicon.gif" type="image/x-icon">
<link rel="stylesheet" href="../../../../styles/layout.css" type="text/css" />
<link rel="stylesheet" href="../../../../styles/prettyPhoto.css" type="text/css" />
<script src="https://code.jquery.com/jquery-1.11.1.js"></script>
<script type="text/javascript" src="../../../../scripts/jquery-1.4.1.min.js"></script>
<script type="text/javascript" src="../../../../scripts/jquery.prettyPhoto.js"></script>
<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
<script type="text/javascript">SQUARESPACE_ROLLUPS = {};</script>
<script>
(function(rollups, name) { if (!rollups[name]) { rollups[name] = {}; } rollups[name].js = ["//static.squarespace.com/universal/scripts-compressed/common-14116448e483633d334a-min.en-US.js"]; })(SQUARESPACE_ROLLUPS, 'squarespace-common');
</script>
<script crossorigin="anonymous" src="//static.squarespace.com/universal/scripts-compressed/common-14116448e483633d334a-min.en-US.js"></script>
<script>
(function(rollups, name) { if (!rollups[name]) { rollups[name] = {}; } rollups[name].js = ["//static.squarespace.com/universal/scripts-compressed/commerce-c6bf87314308894f43d9-min.en-US.js"]; })(SQUARESPACE_ROLLUPS, 'squarespace-commerce');
</script>

<script>Static.COOKIE_BANNER_CAPABLE = true;</script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
</head>
<body id="top">
<div class="wrapper col1">
  <div id="header" class="clear">
    <div class="fl_left">
      <h1><a href="/">Gregory Olsen</a></h1>
      <p>German Photographer</p>
    </div>
    <div class="fl_right">     
       <form action="#" method="post" id="search">
        <fieldset>
          <legend>legend</legend>
          <input type="text" value="Search&hellip;" onfocus="this.value=(this.value=='Search&hellip;')? '' : this.value ;" />
          <input type="image" id="go" src="../../../../images/search.gif" alt="Search" />
        </fieldset>
      </form>     
      <ul id="topnav" class="clear">
    <li><a href="https://www.instagram.com/ph_olsen">InstaOlsen</a></li>
    <li><a href="#">Connect</a>
          <ul>
            <li><a href="/connect/biopress">Bio & Press</a></li>
            <li><a href="/connect/clients">Clients</a></li>
      <li><a href="/connect/philanthropy">Philanthropy</a></li>
      <li><a href="/connect/contact">Contact</a></li>
          </ul>
          </li>
    <li><a href="/sessions">Sessions</a></li>
          <li><a href="#">Work</a>
          <ul>
            <li><a href="/work/portrait">Portrait</a></li>
            <li><a href="/work/lifestyle">Lifestyle</a></li>
            <li><a href="/work/travel">Travel</a></li>
      <li><a href="#">Motion</a></li>
          </ul>
          </li>
        <li class="active last"><a href="/">Home</a></li>
      </ul>
    </div>
  </div>
</div>

<div class="wrapper col2">
  <div id="shout">
    <h2>Book Information</h2>
  </div>
</div>

<div class="wrapper col3">
  <div id="container" class="clear">
    <div id="hpage_info" class="clear">
          <h2 class="title">Session Information:</h2>
  <div class="imgl"><img src="/images/Sessions/b2m.jpg" alt="" width="150" height="150" /></div>
      <h2><b>Mini Outdoor Session</b></h2>
     <p>Additional Subjects: <span style="color: #FF412C"><%= subjects %></span></p>
  <p>Total price: <span style="color: #FF412C">$<%= totalPrice %> USD</span></p>
</div>
 
     <div id="hpage_info" class="clear">
          <h2 class="title">Contact Information:</h2>

 <div class="container">
 <div class="row">
 <div class="col-lg-8 col-lg-offset-2">
 <form id="contact-form2" method="post" action="/sessions/book/2/info/2/payment" role="form">
 <div class="messages"></div>
 <div class="controls">

 <div class="row">
 <div class="col-md-6">
 <div class="form-group">
 <label for="form_email">Email *</label>
 <input id="form_email" type="email" name="email" class="form-control" placeholder="Please enter your email" required="required" data-error="Valid email is required." maxlength=100>
 <div class="help-block with-errors"></div>
 </div>
    <p><input type="checkbox" checked name="option2" value="a2">Keep me up to date on news</p>
 </div>
 </div> 

 <div class="row">
 <div class="col-md-6">
 <div class="form-group">
 <label for="form_name">Firstname *</label>
 <input id="form_name" type="text" name="name" class="form-control" placeholder="Please enter your firstname" required="required" data-error="Firstname is required." maxlength=48>
 <div class="help-block with-errors"></div>
 </div>
 </div>
 <div class="col-md-6">
 <div class="form-group">
 <label for="form_lastname">Lastname *</label>
 <input id="form_lastname" type="text" name="surname" class="form-control" placeholder="Please enter your lastname" required="required" data-error="Lastname is required." maxlength=48>
 <div class="help-block with-errors"></div>
 </div>
 </div>
 </div> 

 <div class="row">
 <div class="col-md-6">
 <div class="form-group">
 <label for="form_company">Company</label>
 <input id="form_company" type="text" name="company" class="form-control" placeholder="Please enter your company" required="required" data-error="Compamy is required." maxlength=48>
 <div class="help-block with-errors"></div>
 </div>
 </div>
 </div>

 <div class="row">
 <div class="col-md-6">
 <div class="form-group">
 <label for="form_address">Address *</label>
 <input id="form_address" type="text" name="address" class="form-control" placeholder="Please enter your address" required="required" data-error="Address is required." maxlength=100>
 <div class="help-block with-errors"></div>
 </div>
 </div>
 <div class="col-md-6">
 <div class="form-group">
 <label for="form_apartment">Apartment *</label>
 <input id="form_apartment" type="text" name="apartment" class="form-control" placeholder="Please enter your apartment, suite, etc." required="required" data-error="Apartment is required." maxlength=100>
 <div class="help-block with-errors"></div>
 </div>
 </div>
 </div>


 <div class="row">
 <div class="col-md-6">
 <div class="form-group">
 <label for="form_city">City *</label>
 <input id="form_city" type="text" name="city" class="form-control" placeholder="Please enter your city" required="required" data-error="City is required." maxlength=48>
 <div class="help-block with-errors"></div>
 </div>
 </div>
 <div class="col-md-6">
 <div class="form-group">
 <label for="form_country">Country *</label>
 <input id="form_country" type="text" name="country" class="form-control" placeholder="Please enter your country" required="required" data-error="Country is required." maxlength=48>
 <div class="help-block with-errors"></div>
 </div>
 </div>
 </div>

 <div class="row">
 <div class="col-md-6">
 <div class="form-group">
 <label for="form_postal">Postal code *</label>
 <input id="form_postal" type="text" name="postal" class="form-control" placeholder="Please enter your postal code" required="required" data-error="Postal code is required." maxlength=48>
 <div class="help-block with-errors"></div>
 </div>
 </div>
 </div>

 <div class="row">
 <div class="col-md-6">
 <div class="form-group">
 <label for="form_phone">Phone *</label>
 <input id="form_phone" type="text" name="phone" class="form-control" placeholder="Please enter your phone" required="required" data-error="Phone is required." maxlength=48>
 <div class="help-block with-errors"></div>
 </div>
 </div>
 </div>

<div>
      <p><input type="checkbox" disabled name="option2" value="a2">Save this infermation for next time</p>
</div>

 <div class="col-md-12" id="button">
 <input type="submit" class="btn btn-success btn-send" value="Continue to payment method" id="button">
 </div>
 </div>
 </div>
 </form>
<br>
 </div>
  <div class="pagination">
  <input type="reset" class="btn btn-reset btn-send" value="< Back" onClick='location.href="/sessions/book/2"' id="button">
 </div> 
 </div>
 </div>
 </div>
</div>
</div>

  
 <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="http://bootstraptema.ru/snippets/form/2017/recaptcha/validator.js"></script>
  <script type="text/javascript">
    $(function () {
    $('#contact-form2').validator();
    });
  </script>
                                                                                                                                                                                                                                                                                                                                  
</body>
</html>
