<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=windows-1251" />
<title>Philanthropy | Gregory Olsen</title>
<meta name="description" content="Gregory Olsen is a photographer, podcast host, and creative entrepreneur devoted to inspiring the world to create their moments and create their life.">
<meta name="keywords" content="gregory olsen, photographer, new york city, podcast host, usher, portrait, lifestyle, celebrity">
<link rel="icon" href="https://358bb28d538e8f7f2888-7458310c472644cf613cb19f403ef708.ssl.cf1.rackcdn.com/NO_Favicon.gif" type="image/x-icon">
<link rel="stylesheet" href="styles/layout.css" type="text/css" />
<link rel="stylesheet" href="styles/prettyPhoto.css" type="text/css" />
<script type="text/javascript" src="scripts/jquery-1.4.1.min.js"></script>
<script type="text/javascript" src="scripts/jquery.prettyPhoto.js"></script>
<script type="text/javascript">
$(document).ready(function () { $("a[rel^='prettyPhoto']").prettyPhoto({theme:'dark_rounded'}); });
</script>
<script type="text/javascript">
$(document).ready(function () {
    $('.photo_category').showFeatureText();
    $(".thumbs a").click(function () {
        var imgpath = $(this).attr("href");
        var imgalt = $(this).attr("alt");
        $("#placeholder").attr({
            src: imgpath,
            alt: imgalt
        });
        return false;
    });
});
$.fn.showFeatureText = function () {
    return this.each(function () {
        var box = $(this);
        var text = $('span', this);
        text.css({
            display: 'block',
            position: 'absolute',
            top: '0',
            left: '0'
        }).hide();
        box.hover(function () {
            text.slideDown("fast");
        }, function () {
            text.slideUp("fast");
        });
    });
}
</script>
</head>
<body id="top">

<div class="wrapper col1">
  <div id="header" class="clear">
    <div class="fl_left">
      <h1><a href="index_my.html">Gregory Olsen</a></h1>
      <p>German Photographer</p>
    </div>
    <div class="fl_right">     
       <form action="#" method="post" id="search">
        <fieldset>
          <legend>legend</legend>
          <input type="text" value="Search&hellip;" onfocus="this.value=(this.value=='Search&hellip;')? '' : this.value ;" />
          <input type="image" id="go" src="images/search.gif" alt="Search" />
        </fieldset>
      </form>     
      <ul id="topnav" class="clear">
	  <li><a href="https://www.instagram.com/ph_olsen">InstaOlsen</a></li>
	  <li><a href="#">Connect</a>
          <ul>
            <li><a href="biopress.html">Bio & Press</a></li>
            <li><a href="clients.html">Clients</a></li>
	    <li><a href="philanthropy.html">Philanthropy</a></li>
	    <li><a href="contact.html">Contact</a></li>
          </ul>
	  </li>
	  <li><a href="sessions.html">Sessions</a></li>
          <li><a href="#">Work</a>
          <ul>
            <li><a href="portrait.html">Portrait</a></li>
            <li><a href="lifestyle.html">Lifestyle</a></li>
            <li><a href="travel.html">Travel</a></li>
	    <li><a href="#">Motion</a></li>
          </ul>
          </li>
        <li class="active last"><a href="index_my.html">Home</a></li>
      </ul>
    </div>
  </div>
</div>

<div class="wrapper col2">
  <div id="shout">
    <h2>Philanthropy</h2>
  </div>
</div>


<div class="wrapper col3">
  <div id="container" class="clear">

<div>
<div class="imgl"><img src="images/philanthropy.jpg" alt="" /></div>
</div>

<div>
<h1 align="center">How photographing changed my life.</h1>
<p>
<br>
<p style="text-align: justify;">
People who know me from school might know me as a shy boy. I've always been an introvert (and I still am), but now I finally see the positive qualities about being an introvert instead of being insecure about this all the time. A topic that I would like to share you more about.
<p>
<p>
<br>
</p>
<p style="text-align: justify;">
I started shooting images at a young age, I think I was 13 years old and my interest for webdesign and making digital magazines in Word and Paint Shop Pro became my hobbies. That is also the reason why I'm currently dealing with RSI (pain in my right hand and arm thanks to the computer mouse..). For my self made websites I wanted to shoot images and I loved to capture photos of our cute puppy and our family walks in the nature. This is how I learned about my camera settings and how I developed my love for photography. Luckily my parents supported my creativity.
</p>
<p>
<br>
</p>
<p style="text-align: justify;">
It really helped me to gain confidence to be myself through my work and meanwhile it was an escape from the real world. I could create everything I want and I noticed I was getting better by reading books and magazines about photography. People started talking positively about my photos and gave me compliments, something I really appreciate during my years as a shy teenager. I didn't felt secure about my self, but I did feel very good about my photography because I enjoyed it so much.
</p>
<p>
<br>
</p>
<p style="text-align: justify;">
Soon I noticed that if I wanted to become a fashion and portrait photographer, I should have a lot more self confidence because as a photographer you are the one that makes the big decisions during the shoot and you have to control a whole team. It was absolutely not possible to be shy or quiet during a shoot, so in the next years I learned how to take control of the shoot by organising a lot of shoots. Actually, I already felt a 100% different with a camera in my hand. I became another person, I know it might sound crazy, but I still feel this. For example: when I'm at a birthday party with a lot of people I don't know I feel not very comfortable, but when I'm at a shoot with a lot of people I don't know, I actually feel pretty good about myself.
</p>
<p>
<br>
</p>
<p style="text-align: justify;">
I noticed my photos became better during the shoots where I tried to step out of my comfort zone. This motivated me to organise more shoots and keep practicing the social skills of being a fashion photographer!
</p>
<p>
<br>
</p>
<p style="text-align: justify;">
Fun fact, I asked clients and team members how they experienced working with me, and what they all said is that I'm very relaxed on the set and that I am a good listener, things that are very important if you work with clients.
</p>
<p>
<br>
</p>
</div> 

</div>
</div>   

<div class="wrapper">
  <div id="footer">
    <div class="verticaline clear">
      <div class="box size1">
        <div class="imgl"><img src="images/Home/foo.jpg" alt="" /></div>
	<p align="center">CONTACT US, THERE'S NO TIME LIKE THE PRESENT</p>
      </div>
      <h2 align="center">If you would like to talk to us about any upcoming projects please get in touch using the details below:</h2><br>
      <div class="box size2">
        <address>
        <strong class="title">Address</strong><br />
        Gregory Olsen Studio<br />
        Unit 124 - 4293 Mounttain Square<br />
        Whistler, British Columbia, Canada<br />
	VoN 1B4
        </address>
        <ul>
          <li><strong class="title">Call us on</strong><br />
            +44 0207 435 2086</li>
          <li><strong class="title">Email:</strong><br />
            <a>info@gregoryolsen.com</a></li>
        </ul>
      </div>
      <div class="box size3">
        <ul>
          <li><span>Facebook:</span> <a href="https://www.facebook.com/ph_olsen" target="_blank">www.facebook.com/ph_olsen</a></li>
          <li><span>Twitter:</span> <a href="https://www.twitter.com/ph_olsen" target="_blank">www.twitter.com/ph_olsen</a></li>
	  <li><span>Instagram:</span> <a href="https://www.instagram.com/ph_olsen" target="_blank">www.instagram.com/ph_olsen</a></li>
          <li><span>Youtube:</span> <a href="https://www.youtube.com/ph_olsen" target="_blank">www.youtube.com/ph_olsen</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>


</body>
</html>
