<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=windows-1251" />
<title>Contact | Gregory Olsen</title>
<meta name="description" content="Gregory Olsen is a photographer, podcast host, and creative entrepreneur devoted to inspiring the world to create their moments and create their life.">
<meta name="keywords" content="gregory olsen, photographer, new york city, podcast host, usher, portrait, lifestyle, celebrity">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
<link rel="icon" href="https://358bb28d538e8f7f2888-7458310c472644cf613cb19f403ef708.ssl.cf1.rackcdn.com/NO_Favicon.gif" type="image/x-icon">
<link rel="stylesheet" href="/styles/layout.css" type="text/css" />
<link rel="stylesheet" href="/styles/prettyPhoto.css" type="text/css" />
<script type="text/javascript" src="/scripts/jquery-1.4.1.min.js"></script>
<script type="text/javascript" src="/scripts/jquery.prettyPhoto.js"></script>
<script type="text/javascript">
$(document).ready(function () { $("a[rel^='prettyPhoto']").prettyPhoto({theme:'dark_rounded'}); });
</script>
<script type="text/javascript">
$(document).ready(function () {
    $('.photo_category').showFeatureText();
    $(".thumbs a").click(function () {
        var imgpath = $(this).attr("href");
        var imgalt = $(this).attr("alt");
        $("#placeholder").attr({
            src: imgpath,
            alt: imgalt
        });
        return false;
    });
});
$.fn.showFeatureText = function () {
    return this.each(function () {
        var box = $(this);
        var text = $('span', this);
        text.css({
            display: 'block',
            position: 'absolute',
            top: '0',
            left: '0'
        }).hide();
        box.hover(function () {
            text.slideDown("fast");
        }, function () {
            text.slideUp("fast");
        });
    });
}
</script>
<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
<script type="text/javascript">SQUARESPACE_ROLLUPS = {};</script>
<script>
(function(rollups, name) { if (!rollups[name]) { rollups[name] = {}; } rollups[name].js = ["//static.squarespace.com/universal/scripts-compressed/common-14116448e483633d334a-min.en-US.js"]; })(SQUARESPACE_ROLLUPS, 'squarespace-common');
</script>
<script crossorigin="anonymous" src="//static.squarespace.com/universal/scripts-compressed/common-14116448e483633d334a-min.en-US.js"></script>
<script>
(function(rollups, name) { if (!rollups[name]) { rollups[name] = {}; } rollups[name].js = ["//static.squarespace.com/universal/scripts-compressed/commerce-c6bf87314308894f43d9-min.en-US.js"]; })(SQUARESPACE_ROLLUPS, 'squarespace-commerce');
</script>
<script>Static.COOKIE_BANNER_CAPABLE = true;</script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
</head>

<div class="wrapper col1">
  <div id="header" class="clear">
    <div class="fl_left">
      <h1><a href="/">Gregory Olsen</a></h1>
      <p>German Photographer</p>
    </div>
    <div class="fl_right">     
       <form action="#" method="post" id="search">
        <fieldset>
          <legend>legend</legend>
          <input type="text" value="Search&hellip;" onfocus="this.value=(this.value=='Search&hellip;')? '' : this.value ;" />
          <input type="image" id="go" src="/images/search.gif" alt="Search" />
        </fieldset>
      </form>     
      <ul id="topnav" class="clear">
    <li><a href="https://www.instagram.com/ph_olsen">InstaOlsen</a></li>
    <li><a href="#">Connect</a>
          <ul>
            <li><a href="/connect/biopress">Bio & Press</a></li>
            <li><a href="/connect/clients">Clients</a></li>
      <li><a href="/connect/philanthropy">Philanthropy</a></li>
      <li><a href="/connect/contact">Contact</a></li>
          </ul>
          </li>
    
          <li><a href="#">Work</a>
          <ul>
            <li><a href="/work/portrait">Portrait</a></li>
            <li><a href="/work/lifestyle">Lifestyle</a></li>
            <li><a href="/work/travel">Travel</a></li>
      <li><a href="#">Motion</a></li>
          </ul>
          </li>
        <li class="active last"><a href="/">Home</a></li>
      </ul>
    </div>
  </div>
</div>

<div class="wrapper col2">
  <div id="shout">
    <h2>Contact</h2>
  </div>
</div>

<div class="wrapper col3">
  <div id="container" class="clear">
<div class="imgl"><img src="/images/contact2.jpeg" alt="" /></div>
   <div class="sqs-block-content">
    <p align="center">Hi friend! Greg here.</p>
    <p align="justify">Would you do me a favor and keep your email as short and sweet as possible?
    <br>The shorter the email, the quicker I'm able to respond. Life is short and I try not to spend my life typing away on a keyboard. None of us should, right? Thanks in advance!</p>
    <p align="justify">If this is a business inquiry regarding photoshoots, speaking inquiries, The Purpose Hotel, etc., then take as long as you need to. Thanks!</p>
   </div>
  </div>
   <div class="sqs-block horizontalrule-block sqs-block-horizontalrule" data-block-type="47" id="block-yui_3_17_2_17_1501424002259_13328">
    <div class="sqs-block-content">
   </div>
  </div>

 <div class="container">
 <div class="row">
 <h2 Thank you so much!> 
 </div>
 </div>

 <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </div>
</div>

<div class="wrapper">
  <div id="footer">
  </div>
</div>
                                                                                                                                                                                                                                                                                                                                 
</body>
</html>
