<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=windows-1251" />
<title>Travel | Gregory Olsen</title>
<meta name="description" content="Gregory Olsen is a photographer, podcast host, and creative entrepreneur devoted to inspiring the world to create their moments and create their life.">
<meta name="keywords" content="gregory olsen, photographer, new york city, podcast host, usher, portrait, lifestyle, celebrity">
<link rel="icon" href="https://358bb28d538e8f7f2888-7458310c472644cf613cb19f403ef708.ssl.cf1.rackcdn.com/NO_Favicon.gif" type="image/x-icon">
<link rel="stylesheet" href="styles/layout.css" type="text/css" />
<link rel="stylesheet" href="styles/prettyPhoto.css" type="text/css" />
<script type="text/javascript" src="scripts/jquery-1.4.1.min.js"></script>
<script type="text/javascript" src="scripts/jquery.prettyPhoto.js"></script>
<script type="text/javascript">
$(document).ready(function () { $("a[rel^='prettyPhoto']").prettyPhoto({theme:'dark_rounded'}); });
</script>
</head>
<body id="top">
<div class="wrapper col1">
  <div id="header" class="clear">
    <div class="fl_left">
      <h1><a href="index_my.html">Gregory Olsen</a></h1>
      <p>German Photographer</p>
    </div>
    <div class="fl_right">     
       <form action="#" method="post" id="search">
        <fieldset>
          <legend>legend</legend>
          <input type="text" value="Search&hellip;" onfocus="this.value=(this.value=='Search&hellip;')? '' : this.value ;" />
          <input type="image" id="go" src="images/search.gif" alt="Search" />
        </fieldset>
      </form>     
      <ul id="topnav" class="clear">
	  <li><a href="https://www.instagram.com/ph_olsen">InstaOlsen</a></li>
	  <li><a href="#">Connect</a>
          <ul>
            <li><a href="biopress.html">Bio & Press</a></li>
            <li><a href="clients.html">Clients</a></li>
	    <li><a href="philanthropy.html">Philanthropy</a></li>
	    <li><a href="contact.html">Contact</a></li>
          </ul>
	  </li>
	  <li><a href="sessions.html">Sessions</a></li>
          <li><a href="#">Work</a>
          <ul>
            <li><a href="portrait.html">Portrait</a></li>
            <li><a href="lifestyle.html">Lifestyle</a></li>
            <li><a href="travel.html">Travel</a></li>
	    <li><a href="#">Motion</a></li>
          </ul>
          </li>
        <li class="active last"><a href="index_my.html">Home</a></li>
      </ul>
    </div>
  </div>
</div>

<div class="wrapper col2">
  <div id="shout">
    <h2>Travel Gallery</h2>
  </div>
</div>
<div class="wrapper col3">
  <div id="container" class="clear">
    <div id="gallery" class="clear">
      <ul>
        <li><a href="images/Travel/13.jpeg" rel="prettyPhoto[gallery1]" title="travel"><img src="images/Travel/13m.jpeg" alt="" /></a></li>
        <li><a href="images/Travel/14.jpg" rel="prettyPhoto[gallery1]" title="travel"><img src="images/Travel/14.jpg" alt="" /></a></li>
        <li><a href="images/Travel/15.jpeg" rel="prettyPhoto[gallery1]" title="travel"><img src="images/Travel/15m.jpeg" alt="" /></a></li>
        <li class="last"><a href="images/Travel/16.jpeg" rel="prettyPhoto[gallery1]" title="travel"><img src="images/Travel/16.jpeg" alt="" /></a></li>
        <li><a href="images/Travel/17.jpeg" rel="prettyPhoto[gallery1]" title="travel"><img src="images/Travel/17m.jpeg" alt="" /></a></li>
        <li><a href="images/Travel/18.jpeg" rel="prettyPhoto[gallery1]" title="travel"><img src="images/Travel/18.jpeg" alt="" /></a></li>
        <li><a href="images/Travel/19.jpg" rel="prettyPhoto[gallery1]" title="travel"><img src="images/Travel/19.jpg" alt="" /></a></li>
        <li class="last"><a href="images/Travel/20.jpeg" rel="prettyPhoto[gallery1]" title="travel"><img src="images/Travel/20.jpeg" alt="" /></a></li>
        <li><a href="images/Travel/21.jpeg" rel="prettyPhoto[gallery1]" title="travel"><img src="images/Travel/21m.jpeg" alt="" /></a></li>
        <li><a href="images/Travel/22.jpeg" rel="prettyPhoto[gallery1]" title="travel"><img src="images/Travel/22.jpeg" alt="" /></a></li>
        <li><a href="images/Travel/23.jpeg" rel="prettyPhoto[gallery1]" title="travel"><img src="images/Travel/23m.jpeg" alt="" /></a></li>
        <li class="last"><a href="images/Travel/24.jpeg" rel="prettyPhoto[gallery1]" title="travel"><img src="images/Travel/24m.jpeg" alt="" /></a></li>
      </ul>
    </div>
    <div class="pagination">
      <ul>
        <li class="prev"><a href="travel.html">Previous</a></li>
        <li><a href="travel.html">1</a></li>
          <li class="current">2</li>
        <li><a href="travel3.html">3</a></li>
        <li><a href="travel4.html">4</a></li>
        <li class="next"><a href="travel3.html">Next</a></li>
      </ul>
    </div>
  </div>
</div>

<div class="wrapper">
  <div id="footer">
    <div class="verticaline clear">
      <div class="box size1">
        <div class="imgl"><img src="images/Home/foo.jpg" alt="" /></div>
	<p align="center">CONTACT US, THERE'S NO TIME LIKE THE PRESENT</p>
      </div>
      <h2 align="center">If you would like to talk to us about any upcoming projects please get in touch using the details below:</h2><br>
      <div class="box size2">
        <address>
        <strong class="title">Address</strong><br />
        Gregory Olsen Studio<br />
        Unit 124 - 4293 Mounttain Square<br />
        Whistler, British Columbia, Canada<br />
	VoN 1B4
        </address>
        <ul>
          <li><strong class="title">Call us on</strong><br />
            +44 0207 435 2086</li>
          <li><strong class="title">Email:</strong><br />
            <a>info@gregoryolsen.com</a></li>
        </ul>
      </div>
      <div class="box size3">
        <ul>
          <li><span>Facebook:</span> <a href="https://www.facebook.com/ph_olsen" target="_blank">www.facebook.com/ph_olsen</a></li>
          <li><span>Twitter:</span> <a href="https://www.twitter.com/ph_olsen" target="_blank">www.twitter.com/ph_olsen</a></li>
	  <li><span>Instagram:</span> <a href="https://www.instagram.com/ph_olsen" target="_blank">www.instagram.com/ph_olsen</a></li>
          <li><span>Youtube:</span> <a href="https://www.youtube.com/ph_olsen" target="_blank">www.youtube.com/ph_olsen</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>

</body>
</html>
